.about {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 3rem;
  margin: 0px auto 5rem;
  padding: 0 1rem;

  .info {
    display: flex;
    flex-direction: column;
    gap: 0;
    max-width: 700px;
    width: 40%;
    margin: 0;

    h1 {
      line-height: 2.4rem;
    }

    p {
      font-size: 1.1rem;
    }
  }

  img {
    width: 300px;
    border-radius: .6rem;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, .75);
  }
  
  @media screen and (max-width: 420px) {
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
    .info {
      width: 100%;
    }
  }
}



.stack {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 27rem;
  gap: 2rem;
  margin-bottom: 5rem;
  .grid-stack {
    padding: 0 3rem;
    display: grid;
    grid-template-columns: repeat(3, 300px);
    gap: 1rem;
    width: 100%;
    align-content: center;
  }


  .stack-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #e6c44b;
    border-radius: 10px;
    padding: 1rem 1rem;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, .55);
    font-weight: 800;
    transition: transform .15s;
    gap: .5rem;
    margin-bottom: 0;
    height: 200px;

    img {
      width: 40px;
      height: 40px;
      box-shadow: 0 0 0 0;
    }
  }

  .stack-item:hover {
    transform: scale(1.05);
  }
  
  @media screen and (max-width: 420px) {
    margin-bottom: 5rem;
    gap: 2rem;
    .grid-stack {
      grid-template-columns: repeat(2, 1fr);
      padding: 0 2.5rem;

      .stack-item {
        height: 180px;
      }
    }
  }
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;

  .projects-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;

    .repo {
      width: 900px;
      display: flex;
      justify-content: space-between;
      background: #e6c44b;
      padding: 10px 15px;
      border-radius: 15px;
      box-shadow: 4px 4px 10px rgba(113, 40, 26, 0.4);
      align-items: flex-start;
      transition: transform .15s;

      div {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 5px;

        p {
          display: flex;
          gap: 10px;

          span {
            opacity: .75;
            font-size: 14px;
          }
        }
      }

      .prj-link {
        cursor: pointer;
        text-decoration: none;
        color: white;
        background: black;
        font-weight: 700;
        padding: .6rem 1rem;
        border-radius: .65rem;
        box-shadow: 4px 4px 1px rgba(113, 40, 26, 0.6);
        transition: transform .15s;
      }

      a:hover, a:active {
        transform: translateY(2px);
      }
    }

    .repo:hover {
      transform: scale(1.02);
    }
  }

  @media screen and (max-width: 420px) {
    gap: 2rem;
    margin-bottom: 5rem;
    .repo {
      gap: 1rem;
      justify-content: space-between;
      div {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 5px;

        p {
          display: flex;
          flex-direction: column;
          gap: 10px;

          span {
            opacity: .75;
            font-size: 14px;
            position: relative;
          }
          span::before {
            position: absolute;
            content: '___';
            bottom: -2px;
          }
        }
      }
    }
  }
}

