nav {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  padding: 1rem 2rem;
  justify-content: space-between;
  background: black;
  border-radius: 0 0 1.1rem 1.1rem;
}

ul {
  list-style: none;
  display: flex;
  gap: 1.4rem;
}

li {
  font-weight: 600;
  color: white;
  cursor: pointer;
  width: 100px;
}

.menu {
  position: absolute;
  right: 1rem;
  color: white;
  display: none;
  font-size: 1.5rem;
}

@media screen and (max-width: 450px) {
  nav {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  ul {
    display: none;
  }
  .menu {
    display: block;
  }

  .active {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    height: 110px;
    animation: animateUl .15s;
  }

  @keyframes animateUl {
    0% {
      transform: translateY(-100px);
      height: 50px;
    }
    100% {
      transform: translateY(0px);
      height: 110px;
    }
  }
}