@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Nunito;
}

html, body {
  width: 100%;
  height: 100%;
  //background: #fddb54;
}

body {
  animation: theme 21s linear infinite;


&:before {
   content: '';
   display: block;
   position: fixed;
   z-index: -1;
   top: 0;
   width: 100vw;  // IE/Edge
 height: 100vh; // fallback
 width: 100vmax;
   height: 100vmax;
   background: rgba(0,0,0,0.05);
   animation: background 90s linear infinite;
 }

&:after {
   left: 15vw;
 }

&:before {
   right: 15vw;
   animation-delay: -30s;
   animation-direction: reverse;
 }
}

@keyframes theme {
  0% {
    background: #74C390;
  }

  16% {
    background: #5DBDB6;
  }

  33% {
    background: #59D4E1;
  }

  50% {
    background: #51BCE8;
  }

  66% {
    background: #FA5374;
  }

  83% {
    background: #E46653;
  }

  100% {
    background: #74C390;
  }
}

@keyframes background {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.App {
  position: relative;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 6rem 0 0 0;

}